{% extends 'flatpages/default.html' %}

{%load custom_filters %}

{% block title %}
    Posts
{% endblock title %}

{% block content %}
    <h1>Новости</h1>
    <h3>
        {{ time_now | date:'d M Y' }}
    </h3>
    <hr>
    {% if posts %}
        <p>
            Всего публикаций: {{ len_sum }}
        </p>
        <p>
            Показана страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </p>
        <br/>
        <table>
            <tr>
                <th>
                    Заголовок
                </th>
                <th>
                    Дата публикации
                </th>
                <th>
                    Текст
                </th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td>
                        <a href="{% url 'post_detail' post.id %}">{{ post.head | censor }}</a>
                        {% if request.user == post.author.user %}
                        <a href="{% url 'post_update' post.id %}">UPDATE</a>&emsp;
                        <a href="{% url 'post_delete' post.id %}">DELETE</a>
                        {% endif %}
                   </td>
                    <td>
                        {{ post.time_in | date:'d.m.Y' }}
                    </td>
                    <td>
                        {{ post.text | censor | truncatechars:35 }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
            {% endif %}
            {% if page_obj.number|add:'-3' == 1 %}
                    <a href="?page=1">1</a>
            {% endif %}
            {% if page_obj.number|add:'-3' > 1 %}
                    <a href="?page=1">1...</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.number|add:'3' == page_obj.paginator.num_pages %}
                    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
            {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
                    <a href="?page={{ page_obj.paginator.num_pages }}">...{{ page_obj.paginator.num_pages }}</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>>></a>
            {% endif %}
        {% endif %}
    {% else %}
        <h2> Новостей нет!</h2>
    {% endif %}
{% endblock content %}