{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
    Posts/delete
{% endblock title %}

{% block content %}
    <h4>
        {{ time_now | date:'d M Y' }}
    </h4>
    <h2>Are you sure?</h2>
    <hr>
    <p>
        {{ post.head | censor }}
    </p>
    <p>
        Дата публикации: {{ post.time_in | date:'d.m.Y' }}
    </p>

    <p>
        Автор: {{ post.author.user.username }}
    </p>

    <p>
        {{ post.text | censor }}
    </p>
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="sure">
</form>

{% endblock content %}