{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
{% if update %}
    Posts/Update
{% else %}
    Post/Add
{% endif %}
{% endblock title %}

{% block content %}
    <h1>Новости</h1>
    <h3>
        {{ time_now | date:'d M Y' }}
    </h3>
    <hr>
    <p>
        Заполните необходимые поля:
    </p>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        {% if update %}
            <input type="submit" value="Редактировать публикацию" style="width:250px" >
        {% else %}
            <input type="submit" value="Добавить публикацию" style="width:200px" >
        {% endif %}
    </form>
{% endblock content %}